{% extends 'tm/base.html' %}
{% load static %}
{% block content %}    
    
    <section id="page-title" class="page-title-parallax page-title-center page-title-dark include-header"
        style="background-image: linear-gradient(to top, rgba(0,139,64 ,0.6), #39384D), url('{{info.image.url}}'); background-size: cover; padding: 120px 0;"
        data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">

        <div class="container clearfix mt-4">
            <div class="container">

                <h1 class="titular-title font-weight-normal center font-secondary font-normal mb-5"
                    style="color: #008b40 !important;">{{info.name}}</h1>

                <div class="clear mb-5"></div>



            </div>

        </div>

    </section>

    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">

                <div class="row gutter-40 col-mb-80">
                    <div class="postcontent col-lg-12">

                        <div class="line my-5"></div>
                        
                        <div class="line my-5"></div>
                        <div data-readmore="true"
                            data-readmore-trigger-open="<i class='icon-angle-down i-plain i-large m-0 float-none'></i>"
                            data-readmore-trigger-close="<i class='icon-angle-up i-plain i-large m-0 float-none'></i>">

                            <p>{{info.desc | safe}}</p>

                            

                            <a href="#" class="read-more-trigger"></a>

                        </div>
                        <div class="line my-5"></div>

                    </div>
                </div>

                <div class="section bg-transparent">
                    <div class="container">
                        <div class="row col-mb-30 align-content-stretch">
        
        
                            {% for i in pdf %}
                            <div class="col-lg-3 col-md-6 d-flex">
                                <a href="{{i.file.url}}" class="card h-shadow h-translate-y-sm all-ts" download>
                                    <div class="card-body p-5">
                                        <div class="feature-box flex-column">
                                            <div class="fbox-image mb-5 text-center">
                                                <img height="150" src="{% static './images_project/about/5.png' %}" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <h1 style="font-size: 1rem; text-align: center;">{{i.name}}</h1>
                                </a>
                            </div>
                            {% endfor %}
        
        
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


{% endblock %}