{% extends 'tm/base.html' %}
{% load static %}
{% block content %}

{% for i in banner %}
<section id="page-title" class="page-title-parallax page-title-center page-title-dark include-header"
    style="background-image: linear-gradient(to top, rgba(0,139,64 ,0.6), #39384D), url('{{i.image.url}}'); background-size: cover; padding: 120px 0;"
    data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">

    <div class="container clearfix mt-4">
        <h1>{{i.name}}</h1>

    </div>

</section>
{% endfor %}


<section id="content">

    <div class="content-wrap py-0 overflow-visible">

        <div class="card mx-auto mw-md border-0 shadow rounded-xl card-seo-about mb-5 mb-lg-0">

            <div class="content-wrap">
                <div class="container clearfix">

                    <div class="section section-schedule">
                        <div class="container">
                            <div class="heading-block border-bottom-0 bottommargin-lg" style="max-width: 700px">
                                <h2 class="font-weight-bold mb-2 nott"
                                    style="font-size: 42px; letter-spacing: -1px; color: #333;">Gatnawlaryň
                                    <span>rejesi</span>.
                                </h2>
                                <!-- <p class="lead">Energistically syndicate team building synergy after efficient human capital. Assertively underwhelm sticky solutions.</p> -->
                            </div>
                            <div class="row justify-content-between">
                                <div class="col-lg-4 col-md-5 mt-4 mt-md-0 sticky-sidebar-wrap">
                                    <div class="sticky-sidebar">
                                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                                            aria-orientation="vertical">
                                            <a class="nav-link active" id="sc-mon-tab" data-toggle="pill" href="#sc-mon"
                                                role="tab" aria-controls="sc-mon" aria-selected="true">Uçuş</a>
                                            <a class="nav-link" id="sc-tue-tab" data-toggle="pill" href="#sc-tue"
                                                role="tab" aria-controls="sc-tue" aria-selected="false">Gonuş</a>
                                            <a class="nav-link" href="yandex.ru">Yandex</a>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 mt-5 mt-md-0">
                                    <!-- <h5 id="week-details" class="font-body text-black-50 d-inline-block">Date</h5><span class="text-black-50"> (Monday - Sunday)</span> -->
                                    <div class="tab-content" id="v-pills-tabContent">
                                        <div class="tab-pane schedule-wrap fade show active" id="sc-mon" role="tabpanel"
                                            aria-labelledby="sc-mon-tab">

                                            {% for i in flight_up %}
                                            <dl class="row no-gutters table mb-0">

                                                <dt class="col-sm-3">
                                                    <div class="schedule-time font-primary">{{i.departure}} /
                                                        {{i.arrival}} </div>
                                                </dt>
                                                <dd class="col-sm-9 d-flex justify-content-between align-items-center">
                                                    <div class="schedule-desc font-primary">{{i.title}}<small>-
                                                            {{i.model_plane}}</small></div>
                                                    <a href="#"><img src="{{i.flight_image.url}}" alt=""
                                                            class="schedule-teacher"></a>
                                                </dd>



                                            </dl>
                                            {% endfor %}


                                        </div>

                                        <div class="tab-pane schedule-wrap fade" id="sc-tue" role="tabpanel"
                                            aria-labelledby="sc-tue-tab">
                                            <dl class="row no-gutters table mb-0">

                                                {% for i in flight_down %}
                                                <dl class="row no-gutters table mb-0">

                                                    <dt class="col-sm-3">
                                                        <div class="schedule-time font-primary">{{i.departure}} /
                                                            {{i.arrival}} </div>
                                                    </dt>
                                                    <dd
                                                        class="col-sm-9 d-flex justify-content-between align-items-center">
                                                        <div class="schedule-desc font-primary">{{i.title}}<small>-
                                                                {{i.model_plane}}</small></div>
                                                        <a href="#"><img src="{{i.flight_image.url}}" alt=""
                                                                class="schedule-teacher"></a>
                                                    </dd>



                                                </dl>
                                                {% endfor %}




                                            </dl>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>








        </div>
</section>

{% endblock %}